<form class="form" role="form" autocomplete="off" th:object="${salaRegistro}" th:action="${editMode}?@{/salas/edit}: @{/salas/add}" method="post">
	<input class="form-control" type=hidden th:field="${salaRegistro.id}" th:if="${editMode}">
	<input class="form-control" type=hidden th:field="${salaRegistro.edificioId}" th:if="${editMode}">
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Nombre</label>
		<div class="col-lg-9">
			<input class="form-control" id="edificioId" type="text" th:field="${salaRegistro.edificioId} " th:disabled="${disableFields}" >
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Descripción
			</label>
		<div class="col-lg-9">
			<input class="form-control" id="id" type="text" th:field="${salaRegistro.id}" th:disabled="${disableFields}">
		</div>
	</div>	
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Categoria</label>
		<div class="col-lg-9">
			<input class="form-control" id="nombre" type="text" th:field="${salaRegistro.nombre}" >
		</div>
	</div>
	<div class="form-group row">
		<div class="col-lg-12 text-center">			
			<!-- <a class="btn btn-primary" href="#" th:href="@{'/salas/all/solicitar/'+ ${salaRegistro.id} + '/' +${salaRegistro.edificioId}}">Agregar</a> -->
		</div>
	</div>
</form>