<form class="form" role="form" autocomplete="off" th:object="${sala}" method="post">
	
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Identificación
			</label>
		<div class="col-lg-9">
			<input class="form-control" id="id" type="text" th:field="${sala.id}" > <!-- th:disabled="${disableFields}" --> 
		</div>
	</div>	
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Nombre</label>
		<div class="col-lg-9">
			<input class="form-control" id="nombre" type="text" th:field="${sala.nombre}" > <!-- th:disabled="${disableFields}" --> 
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Tipo</label>
		<div class="col-lg-9">
			<input class="form-control" id="tipo" type="text" th:field="${sala.tipo}" > <!-- th:disabled="${disableFields}" --> 
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Nombre</label>
		<div class="col-lg-9">
			<input class="form-control" id="capacidad" type="number" th:field="${sala.capacidad}" > <!-- th:disabled="${disableFields}" --> 
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Encargado</label>
		<div class="col-lg-9">
			<select class="form-control" th:field="${sala.encargado}"
				th:disabled="${disableFields}">
				<option value="" disabled>-- Selecciona un encargado --</option>
				<option th:each="encargado :${encargadosLista}" th:value="${encargado.id}"
					th:text="${encargado.nombre} + ' ' + ${encargado.apellido}">
				</option>
			</select>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-lg-12 text-center">			
			<!-- <a class="btn btn-primary" href="#" th:href="@{'/salas/new/sala/'}">Agregar sala</a> -->
		</div>
	</div>
</form>