<div class="table-responsive">
	<table id="userList" class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
		<tr>			
			<th scope="col">Id</th>
			<th scope="col">Edificio Id</th>
			<th scope="col">Nombre</th>
			<th scope="col">Tipo</th>
			<th scope="col">Capacidad</th>
			<th scope="col">Caracteristicas</th>
			<th scope="col">Encargado</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="sala: ${salaList}">			
			<td th:text="${sala.id}"></td>
			<td th:text="${sala.edificioId}"></td>
			<td th:text="${sala.nombre}"></td>
			<td th:text="${sala.tipo}"></td>
			<td th:text="${sala.capacidad}"></td>
			<td th:text="${sala.encargado}"></td>
			<td>	
					<a href="#" th:href="@{'/salas/edit-sala/'+ ${sala.id} + '/' +${sala.edificioId}}"><i class="fas fa-edit"></i></a>																			
					| <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${sala.id} +'\',\''+ ${sala.edificioId} +'\');'"><i class="fas fa-trash"></i></a>					
			</td>
		</tr>
		</tbody>
	</table>
	<div class="alert alert-danger text-center" th:if="${salaListErrorMessage}" th:text="${salaListErrorMessage}">Error Message</div>
</div>

<script type="text/javascript">
function confirmDelete(id, edificioId){
	$('#deleteModal').modal('show');
	$("#userIdHiddenInput").val(id);	
	$("#userEdificioIdHiddenInput").val(edificioId);
}

function deleteUser(){
	var id = $("#userIdHiddenInput").val();
	var edificioId = $("#userEdificioIdHiddenInput").val();
    window.location = "/salas/delete/"+id+"/"+edificioId;
}
</script>

