<div class="table-responsive">
	<table id="userList" class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
		<tr>			
			<th scope="col">Perfil</th>
			<th scope="col">Nombre</th>
			<th scope="col">Apellido</th>
			<th scope="col">E-mail</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="user: ${userList}">			
			<td th:text="${user.perfil}"></td>
			<td th:text="${user.nombre}"></td>
			<td th:text="${user.apellido}"></td>
			<td th:text="${user.correo}"></td>
			<td>																				
					<a href="#" th:onclick="'javascript:confirmDelete(\''+ ${user.id} +'\');'"><i class="fas fa-user-times"></i></a>					
			</td>
		</tr>
		</tbody>
	</table>
	
</div>

