<form id="formRegistro" action="#" method="post">
    <div class="form-group">
        <label for="nombreRegistro">Nombre de usuario</label>
        <input type="text" class="form-control" id="nombreRegistro" minlength="1" maxlength="6"
            required>
    </div>
    <div class="form-group">
        <label for="passwordRegistro">Contraseña</label>
        <input type="password" class="form-control" id="passwordRegistro" minlength="3"
            maxlength="5" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Confirma tu contraseña</label>
        <input type="password" class="form-control" id="confirmPwd" minlength="3" maxlength="5"
            required>
    </div>
    <input type="submit" id="registro" value="Registrarme" class="btn btn-primary">
</form>